<div class="container">

	<h1><i class="fa fa-star"/> Hello</h1>

	<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pellentesque nisi velit, nec imperdiet leo elementum id. Mauris ac mollis ante, ac facilisis elit. Nulla facilisi. Quisque a sollicitudin ante, ut facilisis nisl. Ut ac erat orci. Vestibulum volutpat augue eu elit hendrerit blandit. Fusce ullamcorper lacus lacus, vitae rutrum mi tempor nec. Pellentesque eleifend velit non gravida interdum. Vestibulum consequat at elit vitae scelerisque. Sed vitae convallis sem, non lobortis augue. Proin elementum ultricies arcu quis euismod. Nulla vestibulum faucibus ante, at ultrices odio hendrerit ut. Etiam congue sed nisl dignissim pharetra. Vivamus in auctor odio, in pretium odio. Integer dictum lorem est, vitae sodales magna euismod sed. Vestibulum lorem sapien, tempus eget sodales consectetur, rutrum et mauris.
	</p>
</div>